page-consume {
    .toolbar {
        .searchbar {
            padding: 0 12px;
            .searchbar-input-container {
                border-radius: 15px;
                overflow: hidden;
            }
        }
    }
}